/ank-solarized-light/node_modules
/ank-solarized-light/package.json
русский.css.map
/ank-solarized-light/русский/русский.css.map
/ank-solarized-light/русский/.sass-cache
/ank-solarized-light/русский/русский.css
/anki-solarized-light/russian/.sass-cache/32c6e79ffff3cfcf00b773d7a58274ab4a198fdb/_links.scssc
/anki-solarized-light/russian-picture/.sass-cache/32c6e79ffff3cfcf00b773d7a58274ab4a198fdb/_links.scssc
/anki-solarized-light/russian/.sass-cache/32c6e79ffff3cfcf00b773d7a58274ab4a198fdb/_questionanswer.scssc
/anki-solarized-light/russian/.sass-cache/32c6e79ffff3cfcf00b773d7a58274ab4a198fdb/_tables.scssc
/anki-solarized-light/russian/.sass-cache/43501cde892e927d2297a5bf62239432191acfa2/_fonts.scssc
/anki-solarized-light/russian/.sass-cache/32c6e79ffff3cfcf00b773d7a58274ab4a198fdb/_hrules.scssc
/anki-solarized-light/russian-picture/.sass-cache/32c6e79ffff3cfcf00b773d7a58274ab4a198fdb/_fonts.scssc
/anki-solarized-light/russian-picture/.sass-cache/32c6e79ffff3cfcf00b773d7a58274ab4a198fdb/_hrules.scssc
/anki-solarized-light/russian/.sass-cache/43501cde892e927d2297a5bf62239432191acfa2/_tables.scssc
/anki-solarized-light/russian/.sass-cache/43501cde892e927d2297a5bf62239432191acfa2/_animations.scssc
/anki-solarized-light/russian-picture/.sass-cache
/anki-solarized-light/russian/.sass-cache
/anki-solarized-light/russian/russian.css.map
/anki-solarized-light/russian-picture/russian-picture.css.map
*.css
*.scssc
*.map
.DS_Store
