//
// === DIV TABLE FORMATTING ===
//
.divTable {
    display: table;
    /*width: 100%;*/
}
.divTableRow {
    display: table-row;
}
.divTableHeading {
    background-color: $dthBackColor;
    display: table-header-group;
}
.divTableCell,
.divTableHead {
    border: 1px solid $dthBorderColor;
    //border-bottom: 1px #ff0000 solid;
    //transform: scaleY(0.5);
    display: table-cell;
    padding: 3px 10px;
}
.divTableHeading {
    background-color: $dthBackColor;
    display: table-header-group;
    font-weight: bold;
}
.divTableFoot {
    background-color: $dthBackColor;
    display: table-footer-group;
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}
.divHeader {
    background-color: orange;
}

//
// — Specific to Anki grammar tables —
//

//  divPerson should be deprecated
.divPerson {
    background-color: sandybrown;
}
.divVerticalHeader {
    background-color: sandybrown;
    font-family: $sansStack;
    font-weight: bold;
    font-size: $baseFontSize - 4;
}
.divRussianCell {
    font-family: Georgia, serif;
    font-size: $baseFontSize - 2;
    background-color: $drcBackground;
}
