@charset "UTF-8";
//
// === ANIMATIONS ===
//

$wantsClozeAnimations: false !default;

.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}
.quick {
    -webkit-animation: pulsate 2s ease-in;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.95;
}

//
// — Animation keyframes —
//
@-webkit-keyframes pulsate {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.2;
    }
}
@-webkit-keyframes quick {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.9;
    }
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.9, 0.9);
        opacity: 0.21;
    }
    50% {
        -webkit-transform: scale(1.05, 1.05);
        opacity: 1.0;
    }
    100% {
        -webkit-transform: scale(1.0, 1.0);
        opacity: 1.0;
    }
}
.pulse {
    -webkit-animation: pulse 1s ease-out;
    -webkit-animation-iteration-count: 1;
}
