

.rusentence {
    font-family: 'PT Serif';
    font-size: $baseFontSize - 2;
    font-weight: bold;
    font-style: italic;
    color: $ruSentenceColor;
}

.ensentence {
    font-family: "PT Sans", arial, futura;
    font-size: $baseFontSize - 2;
    //font-weight: bold;
    font-style: italic;
    color: $enSentenceColor;
}
