

.rusentence {
    font-family: $russianSentenceFont;
    font-size: $baseFontSize - 2;
    font-weight: bold;
    //font-style: italic;
    color: $ruSentenceColor;
}

.ensentence {
    font-family: $sansStack;
    font-size: $baseFontSize - 2;
    //font-weight: bold;
    font-style: italic;
    color: $enSentenceColor;
}
