//
// === FONTS ===
//

$baseFontSize:      20px;
$serifStack:        Georgia,'PT Serif','Times New Roman', serif;
$sansStack:         'Futura', arial, 'PT Sans';
$defaultCardFont:   $sansStack;
$clozeDecrement:    -2;
