h1 {
    position: relative;
    margin-top: 20px;
    color: $base0;
  }

  h1.one {
    margin-top: 0;
    font-size: $baseFontSize - 2;
  }

  h1.one:before {
    content: "";
    display: block;
    border-top: solid 1px black;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
  }

  h1.one span {
    color: $base01;
    background: $backgroundColor;
    padding: 0 20px;
    position: relative;
    z-index: 5;
  }
