@charset "UTF-8";

div.notes {
    font-size: $baseFontSize - 4;
    text-align: left;
    color: $base0;
}

li ul {
    font-family: $sansStack;
    color: $base0;
    text-align: left;
}

.serifcode {
    font-family: $serifStack;
    font-weight: 600;
    color: lighten(desaturate($orange,20%),10%);
}

.myCodeClass {
    font-family: $serifStack;
    font-weight: 600;
    color: lighten(desaturate($orange,20%),10%);
}
