@charset "UTF-8";

.question {
    color: $questionColor;
}

.answer {
    color: $answerColor;
}

.serif {
    font-family: $serifStack;
    font-size: $baseFontSize + 8;
    font-weight: bold;
}
.english {
    font-size: $baseFontSize + 4;
    font-weight: bold;
}
