
//
//  Examples sentence formatting
//

.rusentence {
    font-family: $russianSentenceFont;
    font-size: $baseFontSize - 2;
    font-weight: bold;
    font-style: italic;
    color: $base01;
}

.ensentence {
    font-family: $sansStack;
    font-size: $baseFontSize - 2;
    font-style: italic;
    color: $base00;
}
